@import 'tailwindcss';

@theme {
	--breakpoint-lg: 64rem;
}

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* @layer components {
	@import 'lapikit/css';
} */

/** 
	config mgc
	@link https://github.com/Richard9394/MingCute
**/
[class^='mgc_']::before,
[class*=' mgc_']::before {
	color: inherit !important;
}

/* html,
body,
* {
	cursor: none !important;
} */
