# This file is used to set environment variables for the website application.
# Copy this file to .env and fill in the values.
# This file should not be committed to version control.

# ENVIRONMENT
# Set the environment to development or production
PUBLIC_ENV=development

# Set the base URL for the website
PUBLIC_BASE_URL="http://localhost:5173"

# PRERENDER ORIGIN
VITE_PRECONNECT_ORIGIN=http://localhost:5173
