@import 'tailwindcss';
@import '@fontsource-variable/outfit';
@import '@fontsource-variable/jetbrains-mono';
@import './md.css';
@import './theme.css';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Outfit Variable', sans-serif;
	--font-mono: 'JetBrains Mono Variable', monospace;
}

@layer base {
	body,
	#kit-app {
		font-family: var(--font-sans);
		background-color: var(--kit-color-surface);
		color: var(--kit-color-text);
	}

	.lpk-title-2xl {
		font-size: calc(var(--kit-font-xl) * 1.25);
	}
}
