@import 'tailwindcss';
@import '@fontsource-variable/outfit';
@import '@fontsource-variable/jetbrains-mono';
@import './md.css';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Outfit Variable', sans-serif;
	--font-mono: 'JetBrains Mono Variable', monospace;
}

@layer base {
	body {
		font-family: var(--font-sans);
	}
}
