:global(html) {
	--kit-shape-none: 0;
	--kit-shape-xs: 4px;
	--kit-shape-sm: 6px;
	--kit-shape-md: 10px;
	--kit-shape-lg: 14px;
	--kit-shape-xl: 18px;
	--kit-shape-full: 9999px;

	--kit-font-xs: 13px;
	--kit-font-sm: 14px;
	--kit-font-md: 15px;
	--kit-font-lg: 16px;
	--kit-font-xl: 17px;

	--kit-space-compact: 2px;
	--kit-space-default: 4px;
	--kit-space-comfortable: 6px;

	--kit-density-compact: -4px;
	--kit-density-default: 0px;
	--kit-density-comfortable: 4px;

	--kit-shadow-opacity: 30%;
	--kit-shadow-ambient-opacity: 15%;

	--kit-disabled-opacity: 0.55;
	--kit-font:
		ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
}
