:global([data-kit-theme='dark']) {
	color-scheme: dark;

	--kit-color-surface: hsl(240 3% 11%);
	--kit-color-surface-1: hsl(240 2% 17.5%);
	--kit-color-surface-2: hsl(240 1.5% 23%);
	--kit-color-surface-3: hsl(240 1.5% 28%);

	--kit-color-text: hsl(0 0% 100%);
	--kit-color-text-muted: hsl(240 3% 56%);
	--kit-color-text-subtle: hsl(240 2.5% 38%);
	--kit-color-text-disabled: hsl(240 1.5% 25%);

	--kit-color-fill: hsl(240 2.5% 24%);
	--kit-color-fill-hover: hsl(240 2.5% 28%);
	--kit-color-fill-active: hsl(240 2.5% 31%);

	--kit-color-border: hsl(240 2% 26%);
	--kit-color-shadow: hsl(240 3% 11%);

	--kit-color-accent: hsl(220 85% 65%);
	--kit-color-on-accent: hsl(240 3% 11%);
	--kit-color-success: hsl(145 50% 50%);
	--kit-color-on-success: hsl(240 3% 11%);
	--kit-color-warning: hsl(35 85% 58%);
	--kit-color-on-warning: hsl(240 3% 11%);
	--kit-color-error: hsl(5 70% 60%);
	--kit-color-on-error: hsl(240 3% 11%);
	--kit-color-info: hsl(205 65% 58%);
	--kit-color-on-info: hsl(240 3% 11%);
	--kit-color-focus: hsl(35 90% 62%);
}
